<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
	<style type="text/css">
		.center-block {
			margin: 100px auto 0px auto;
		}
		.mike{
			height: 30px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="col-md-6 center-block">
			<form method="post" action="/signup">
				<div class="mike"><%- typeof msg == 'undefined' ? '' : msg %></div>
				<div class="form-group">
					<label for="usr">Username:</label>
					<input type="text" name="username" class="form-control" id="username">
				</div>
		 		<button class="btn btn-default" type="submit">Signin</button>
			</form>					
		</div>
	</div>
</body>
</html>